node_modules
/tests/test.js
/tests/internals.js
/tests/internals.es5.js
/tests/internals.es5.js.map
/tests/test.es5.js
/tests/test.es5.js.map
/dist
/benchmark/suite.js
/tests/test.js.map
/tests/internals.js.map
/out
